.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2C3E50;
    padding: 10px 20px; 
    height: 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.logo {
    width: 120px;
    height: 40px; 
}

.nav-element {
    background: none;
    border: none;
    color: #ECF0F1; 
    font-size: 16px;
    margin: 0 15px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.nav-element:hover {
    color: #3498DB; 
}

.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.profile-icon:hover {
    transform: scale(1.1); 
}

.profile-container {
  padding: 20px;
  border-left: 2px solid #ddd;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.profile-header {
  display: flex;
}
.profile-header h2 {
  margin-right: 40px;
}

.user-info,
.bookings {
  margin-bottom: 20px;
}

.booking-item {
  padding: 10px;
  background-color: #918c49;
  border-bottom: 1px solid #ddd;
}
