<div class="container" *ngIf="!selectedMovie">
    <header class="header">
      <div class="search-bar">
        <input type="text" placeholder="Search movies..." (change)="filterMovies()" [(ngModel)]="searchQuery">
      </div>
      <div class="auth-button">
        <button (click)="isLoggedIn ? logout() : login()">
          {{ isLoggedIn ? 'Logout' : 'Login' }}
        </button>
      </div>
    </header>
  
    <main class="main-content" *ngIf="!selectedMovie">
      <aside class="filters">
        <h3>Filters</h3>
        <div class="filter">
          <label for="language">Language</label>
          <select id="language" [(ngModel)]="selectedLanguage" (change)="filterMovies()">
            <option value="">All</option>
            <option value="English">English</option>
            <option value="Telugu">Telugu</option>
            <option value="Hindi">Hindi</option>
            <option value="Tamil">Tamil</option>
          </select>
        </div>
  
        <div class="filter">
          <label for="location">Location</label>
          <select id="location" [(ngModel)]="selectedLocation" (change)="filterMovies()">
            <option value="">All</option>
            <option value="Hyderabad">Hyderabad</option>
            <option value="Bangalore">Bangalore</option>
            <option value="Mumbai">Mumbai</option>
            <option value="Chennai">Chennai</option>
          </select>
        </div>
      </aside>
  
      <section class="movie-list">
        <div class="movie-card" *ngFor="let movie of filteredMovies" (click)="movieClicked(movie)">
          <img [src]="movie.poster" alt="{{ movie.title }} poster">
          <h4>{{ movie.title }}</h4>
          <p>{{ movie.description | slice:0:100 }}...</p>
        </div>
      </section>
    </main>

</div>
<div class="modal" *ngIf="selectedMovie">
    <div class="modal-content">
        <h2>{{ selectedMovie.title }}</h2>
        <p>{{ selectedMovie.description }}</p>
        
        <label for="date">Select Date:</label>
        <input type="date" id="date" [(ngModel)]="selectedDate" [min]="today">
        
        <label for="time">Select Time:</label>
        <select id="time" [(ngModel)]="selectedTime">
        <option *ngFor="let time of defaultTimes" [value]="time">{{ time }}</option>
        </select>
        <div class="btn">
            <button (click)="bookTicket()">Book Tickets</button>
            <button (click)="closeModal()">Cancel</button>
        </div>
    </div>
</div>
      