<div class="container">
  <app-header></app-header>
  <div *ngIf="!movieSelected">
    <div class="main-movie" *ngIf="movies.length > 0">
      <div class="main-movie-content">
        <h3>{{ movies[0].title }}</h3>
        <div class="rating">
          <ng-container
            *ngFor="let star of getStarArray(movies[0].rating); let i = index"
          >
            <span *ngIf="star === 'full'" class="star full">&#9733;</span>
            <span *ngIf="star === 'half'" class="star half">&#9733;</span>
            <span *ngIf="star === 'empty'" class="star empty">&#9734;</span>
          </ng-container>
          <span class="rating-value">{{ movies[0].rating }}/5</span>
        </div>
        <p>{{ movies[0].description }}</p>
        <p class="bordered">{{ movies[0].duration }}</p>

        <div class="genres">
          <div
            *ngFor="let genre of movies[0].genre.split(', ')"
            class="genre-item"
          >
            <p>{{ genre }}</p>
          </div>
        </div>

        <div class="languages">
          <div *ngFor="let language of movies[0].lang" class="language-item">
            <p>{{ language }}</p>
          </div>
        </div>
      </div>
    </div>
    <main class="main-content">
      <aside class="filters">
        <h3>Filters</h3>
        <div class="filter">
          <label for="language">Language</label>
          <select
            id="language"
            [(ngModel)]="selectedLanguage"
            (change)="filterMovies()"
          >
            <option value="">All</option>
            <option value="English">English</option>
            <option value="Telugu">Telugu</option>
            <option value="Hindi">Hindi</option>
            <option value="Tamil">Tamil</option>
          </select>
        </div>

        <div class="filter">
          <label for="location">Location</label>
          <select
            id="location"
            [(ngModel)]="selectedLocation"
            (change)="filterMovies()"
          >
            <option value="">All</option>
            <option *ngFor="let location of locations" [value]="location">
              {{ location }}
            </option>
          </select>
        </div>
        <div class="filter">
          <label for="genre">Genre</label>
          <select
            id="genre"
            [(ngModel)]="selectedGenre"
            (change)="filterMovies()"
          >
            <option value="">All</option>
            <option value="Action">Action</option>
            <option value="Romantic">Romantic</option>
            <option value="Thriller">Thriller</option>
            <option value="Horror">Horror</option>
          </select>
        </div>
      </aside>
      <div class="search-bar">
        <input
          type="text"
          placeholder="Search movies..."
          (change)="filterMovies()"
          [(ngModel)]="searchQuery"
        />
      </div>
      <section class="movie-list">
        <div
          class="movie-card"
          *ngFor="let movie of movies"
          (click)="movieClicked(movie); $event.preventDefault()"
        >
          <img [src]="movie.poster" alt="{{ movie.title }} poster" />
          <h4>{{ movie.title }}</h4>
          <p>{{ movie.description | slice : 0 : 100 }}...</p>
        </div>
      </section>
    </main>
  </div>
  <app-seat *ngIf="movieSelected" [movieState]="movieState"></app-seat>
</div>
