<div class="card" >
    <h1 class="register">Login</h1>
    <form (ngSubmit)="submit()" class="form">
        <div class="form-control">
            <label for="email">Email</label>
            <input
              type="text"
              name="email"
              [(ngModel)]="email"
              id="email"
              placeholder="Enter Email"
            />
        </div>
        <div class="form-control">
            <label for="pword">Password</label>
            <input
              type="password"
              name="pword"
              [(ngModel)]="password"
              id="pword"
              placeholder="Enter Password"
            />
        </div>
        <input type="submit" value="Login" class="btn btn-block">
    </form>
</div>
